body {
    background-color: #000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    
}

h1 {
    font-size: 50px;
    color: #fff;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container video {
    width: 30%;
}

.download-link {
    color: aquamarine;
    font-size: 16px;
}